body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 30px;
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 320px;
}

button {
  background: #1f3c88;
  color: white;
  border: none;
}
